
<!-- Start intro section -->
<section id="intro" class="section-intro">
  <div class="overlay">
    <div class="container">
      <div class="main-text">
        <h1 class="intro-title">Welcome To <span style="color: #3498DB">MALO</span></h1>
        <p class="sub-title">Buy and sell everything from used cars to mobile phones and computers, or search for property, jobs and more</p>

        <!-- Start Search box -->
        <div class="row search-bar">
          <div class="advanced-search">
          <form action="/products-search" method="post" class="search-form">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <div class="col-md-3 col-sm-6 search-col">
                <div class="input-group-addon search-category-container">
                  <label class="styled-select">
                    <select class="dropdown-product selectpicker" multiple="true" name="search[categories][]" >
                      <% @categories.each do |c| %>
                        <option value="<%= c.id %>"> <%= c.name %> </option>
                        <% end %>
                    </select>                                    
                  </label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 search-col">
                <div class="input-group-addon search-category-container">
                  <label class="styled-select location-select">
                    <select class="dropdown-product selectpicker" name="search[location]" >
                      <option value="0">All Locations</option>
                      <option value="New York">New York</option>
                    </select>                                    
                  </label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 search-col">
                <input class="form-control keyword" name="search[keyword]" value="" placeholder="Enter Keyword" type="text">
                <i class="fa fa-search"></i>
              </div>
              <div class="col-md-3 col-sm-6 search-col">
                <button type="submit" class="btn btn-common btn-search btn-block"><strong>Search</strong></button>
              </div>
            </form>
          </div>
        </div>
        <!-- End Search box -->
      </div>
    </div>
  </div>
</section>
<!-- end intro section -->

<div class="wrapper">      
  <section class="grid-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-title no-border">
            <div class="inner">
              <h3 class="section-title"><span>Browse by</span> Category</h3>   
              <a href="/categories" class="sell-your-item"><i class="fa fa-th-large"></i> View more 
              </a>
            </div>
          </div>
        </div>
        <% @categories.each do |c| %>
          <div class="col-md-12">              
            <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0s">
              <a href="category.html">
                <div class="icon">
                  <i class="fa fa-car"></i>
                </div>
                <h6> <%= c.name %> </h6> 
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>