
<% if message.body %>
  <% user = User.find(message.user_id) %>
  <article class="message is-dark">
    <div class="message-body">
      <div class="inline-block">
        <strong><%= user.firstname %> <%= user.lastname %></strong> <%= message.message_time %>
      </div>
      <div class="block pt4">
        <div class="f4">
          <%= message.body %>
        </div>
      </div>
    </div>
  </article>
<% end %>