<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The owner accepted the return of the material, <%= @user.firstname %> </h1>
    <p>You can continue sharing with the community.</p>
    <p>
      To login to the site, just follow this link: <%= link_to 'HOP', root_url %>.
    </p>
    <p>Thanks for being part of the HOP community!</p>
  </body>
</html>