    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="fallback-inner">
              <div class="query-input">
              	<h1>Unknown Request</h1>
              <input class="form-control" name="q" type="text">
            </div>
            <div class="buttons">
              <div class="btn btn-common"><span>Search site</span></div>
            </div>
            <div class="fallback-content">
              <h2>To find the missing content, try these steps:</h2>
              <ul>
                <li><%= link_to "Home Page", root_path %></li>
                <li><a rel="nofollow" href="." target="_self">Reload this page</a></li>
              </ul>
            </div>
          </div>
        </div>      
      </div>
    </div>
    <!-- End Content -->
