<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new message, <%= @user.firstname %> </h1>
    <p>
      To login to the site, just follow this link: <%= link_to 'Message', conversations_url %>.
    </p>
    <p>Thanks for being part of the HOP community!</p>
  </body>
</html>