#msg-box {
	display: flex;
	justify-content: center;
	align-content: stretch;
	align-self: auto;
	background-image: url(assets/img/home-office.jpg);
}

#message_body {
	width: 800px;
	height: 200px;
}

#msg-title {
	display: flex;
	justify-content: center;
	font-style: italic;
	font-weight: 600;
	color: white;
	text-shadow: 5px;
}

.message-is-dark { 
	display: flex;
	justify-content: flex-start;
	background-color: white;
	border-radius: 5px;
	margin-left: 100px;
	margin-right: 100px;
 }

 .message-is-dark:hover {
 	background-color: #ADD8E6;
 }

 .message-body {
 	margin-left: 15px;
 	margin-right: 15px;
 	margin-bottom: 20px;
 	margin-top: 10px;
 }

 #contactForm {
 	display: flex;
 	justify-content: center;
 }

 .btn-send {
 	display: flex;
 	justify-content: flex-end;
 }
