.home-title {
  color: #00BFFF;
  background-color: #D3D3D3;
  opacity: 0.5;
  border-radius: 5px;
}



/*#myCarousel .main-text {position: absolute;}*/

#myCarousel { 
            position: absolute;
            z-index: 2;
          }

.main-text { 
            position: absolute;
            z-index: 3;
}

.carousel {
    height: 400px;
    overflow: hidden;
}
.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
}

.wrapper { position: relative; 
          z-index: 4;
          margin-top: 400px; }

#home-search {
  width: 1000px;
}