<div class="col-sm-3 page-sideabr">
  <aside>
    <div class="inner-box">
      <div class="user-panel-sidebar">
        <div class="collapse-box">
          <h5 class="collapset-title no-border">My Classified <a aria-expanded="true" class="pull-right" data-toggle="collapse" href="#myclassified"><i class="fa fa-angle-down"></i></a></h5>
          <div aria-expanded="true" id="myclassified" class="panel-collapse collapse in">
            <ul class="acc-list">
              <li>
                <a href="/profile/account">
                  <i class="fa fa-home"></i> Personal Home
                </a>
              </li>
              <li>
                <a href="/profile/ask_profile_verification">
                  <i class="fa fa-home"></i> Verify Profile
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="collapse-box">
          <h5 class="collapset-title">My Loans <a aria-expanded="true" class="pull-right" data-toggle="collapse" href="#myads"><i class="fa fa-angle-down"></i></a></h5>
          <div aria-expanded="true" id="myads" class="panel-collapse collapse in">
            <ul class="acc-list">
              <li>
                <a href="account-myads.html"><i class="fa fa-credit-card"></i> My Loans <span class="badge">44</span></a>
              </li>
              <li>
                <a href="account-favourite-ads.html"><i class="fa fa-heart-o"></i> Favourite Loans <span class="badge">19</span></a>
              </li>
              <li>
                <a href="/profile/my-loan-requests"><i class="fa fa-star-o"></i> My Loan Requests <span class="badge">13</span></a>
              </li>
              <li>
                <a href="/profile/archived-loans"><i class="fa fa-folder-o"></i> Archived Loans <span class="badge">49</span></a>
              </li>
              <li class="active">
                <a href="/profile/loan-requests-pending"><i class="fa fa-hourglass-o"></i> Pending Approval <span class="badge">33</span></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="collapse-box">
          <h5 class="collapset-title">Terminate Account <a aria-expanded="true" class="pull-right" data-toggle="collapse" href="#close"><i class="fa fa-angle-down"></i></a></h5>
          <div aria-expanded="true" id="close" class="panel-collapse collapse in">
            <ul class="acc-list">
              <li>
                <a href="account-close.html"><i class="fa fa-close"></i> Close Account</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="inner-box">
      <div class="widget-title">
        <h4>Advertisement</h4>
      </div>
      <img src="assets/img/img1.jpg" alt="">
    </div>
  </aside>
</div>