<div class="col-sm-3 page-sideabr">
  <aside>
    <div class="inner-box">
      <div class="user-panel-sidebar">
        <div class="collapse-box">
          <h5 class="collapset-title no-border">
            Mes informations
            <a aria-expanded="true" class="pull-right" data-toggle="collapse" href="#myclassified"><i class="fa fa-angle-down"></i>
            </a>
          </h5>
          <div aria-expanded="true" id="myclassified" class="panel-collapse collapse in">
            <ul class="acc-list">
              <li>
                <a href="/users/edit">
                  <i class="fa fa-home"></i> Modifier mon Profil
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="collapse-box">
          <h5 class="collapset-title">
            Demandes en attente
            <a aria-expanded="true" class="pull-right" data-toggle="collapse" href="#pending">
              <i class="fa fa-angle-down"></i>
            </a>
          </h5>
          <div aria-expanded="true" id="pending" class="panel-collapse collapse in">
            <ul class="acc-list"><li>
                <a href="/profile/requests-pending">
                  <i class="fa fa-hourglass-o"></i>
                  Voir<span class="badge"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="collapse-box">
          <h5 class="collapset-title">
            Mes Prêts
            <a aria-expanded="true" class="pull-right" data-toggle="collapse" href="#loans">
              <i class="fa fa-angle-down"></i>
            </a>
          </h5>
          <div aria-expanded="true" id="loans" class="panel-collapse collapse in">
            <ul class="acc-list">
              <li>
                <a href="/profile/requests-current">
                  <i class="fa fa-credit-card"></i>
                  En cours <span class="badge">44</span>
                </a>
              </li>
              <li>
                <a href="/profile/requests-past">
                  <i class="fa fa-credit-card"></i>
                  Passés <span class="badge">44</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="collapse-box">
          <h5 class="collapset-title">
            Mes Requêtes
            <a aria-expanded="true" class="pull-right" data-toggle="collapse" href="#requests">
              <i class="fa fa-angle-down"></i>
            </a>
          </h5>
          <div aria-expanded="true" id="requests" class="panel-collapse collapse in">
            <ul class="acc-list">
              <li>
                <a href="/profile/asks-current">
                  <i class="fa fa-star-o"></i>
                  En cours <span class="badge"></span>
                </a>
              </li>

              <li>
                <a href="/profile/asks-past">
                  <i class="fa fa-star-o"></i>
                  Passées <span class="badge"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="collapse-box">
          <h5 class="collapset-title">
            Terminate Account
            <a aria-expanded="true" class="pull-right" data-toggle="collapse" href="#close"><i class="fa fa-angle-down"></i>
            </a>
          </h5>
          <div aria-expanded="true" id="close" class="panel-collapse collapse in">
            <ul class="acc-list">
              <li>
                <a href="/profile/close"><i class="fa fa-close"></i> Supprimer le compte <span class="badge"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="inner-box">
      <div class="widget-title">
        <h4> Publicités </h4>
      </div>
     <!--  <img src="assets/img/img1.jpg" alt=""> -->
    </div>
  </aside>
</div>