    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <%= render :partial => "profile/sidebar" %>
          <div class="col-sm-9 page-content">
            <div class="inner-box">              
              <h2 class="title-2"><i class="fa fa-folder-o"></i> Archived ads </h2>
              <div class="table-responsive">
                <div class="table-action">
                  <div class="checkbox">
                    <label for="checkAll">
                      <input id="checkAll" type="checkbox">
                      Select: All | <a href="#" class="btn btn-xs btn-danger">Delete <i class="fa fa-close"></i></a>
                    </label>
                  </div>
                  <div class="table-search pull-right col-xs-7">
                    <div class="form-group">
                      <label class="col-xs-5 control-label text-right">Search <br>
                        <a title="clear filter" class="clear-filter" href="#clear">[clear]</a> 
                      </label>
                      <div class="col-xs-7 searchpan">
                        <input class="form-control" id="filter" type="text">
                      </div>
                    </div>
                  </div>
                </div>
                
                <table class="table table-striped table-bordered add-manage-table">
                  <thead>
                    <tr>
                      <th data-type="numeric"></th>
                      <th>Photo</th>
                      <th>Adds Details</th>
                      <th>Price</th>
                      <th>Option</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @archived_loans.each do |archived_loan| %>
                      <tr>
                        <td class="add-img-selector col-xs-12">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox">
                            </label>
                          </div>
                        </td>
                        <td class="add-img-td col-xs-12">
                          <a href="ads-details.html">
                            <img class="img-responsive" src="assets/img/item/img-1.jpg" alt="img">
                          </a>
                        </td>
                        <td class="ads-details-td col-xs-12">
                          <h4><a href="ads-details.html">Brand New All about iPhones</a></h4>
                          <p> <strong> Posted On </strong>:
                          02-Oct-2017, 04:38 PM </p>
                          <p> <strong>Visitors </strong>: 221 <strong>Located In:</strong> New York </p>
                        </td>
                        <td class="price-td col-xs-12">
                          <strong> $199</strong>
                        </td>
                        <td class="action-td col-xs-12">
                          <p> <a class="btn btn-info btn-xs"> <i class="fa fa-recycle"></i> Repost </a></p>
                          <p> <a class="btn btn-danger btn-xs"> <i class=" fa fa-trash"></i> Delete </a></p>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>               
            </div>
          </div>
        </div>  
      </div>      
    </div>
    <!-- End Content -->