<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row">
      <%= render :partial => "profile/sidebar" %>
      <div class="col-sm-9 page-content">
        <div class="inner-box">
          <h2 class="title-2"><i class="fa fa-close"></i> Close account </h2>
          <p>You are sure you want to close your account?</p>
          <label class="radio-inline">
          <input name="inlineRadioOptions" value="option1" type="radio"> Yes
          </label>
          <label class="radio-inline">
          <input name="inlineRadioOptions" value="option2" type="radio"> No
          </label>
          <br>
          <button type="reset" value="Reset" class="btn btn-common pt">Submit
          </button>
        </div>
      </div>
    </div>  
  </div>      
</div>
<!-- End Content -->